.loader {

    background: url(Spinner.svg);
    width: 250px;
    height: 250px;
}

a#butcap {
    color: #fff;
    margin-top: 10px;

}

.card {
    width: 18rem;
    margin-top: 10px;

}